@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

body {
    font-family: 'Spartan';
    color: rgb(47, 49, 61);
    background-color: rgb(211, 73, 138);
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 90%;
    max-width: 37.5rem;
    background-color: #fcfafa;
    box-shadow: 0 0 3px #eee;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.titulo {
    background-color: #fff;
    padding: 1rem;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo:last-child {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.titulo__nombre {
    font-size: 1rem;
}

.titulo__icono {
    cursor: pointer;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid rgb(225, 225, 228);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-180deg)
}

.flecha {
    transform: rotate(180deg)
}

.abajo {
    background-color: rgb(101, 8, 221);
    color: #fff;
}

.contenido {
    height: 0;
    transition: .5s;
    overflow: hidden;
}
.contenido__titulo,
.contenido__texto {
    color: rgb(101, 8, 221);
    margin: 2rem auto;
    width: 90%;
}

.contenido__texto {
   color: rgb(47, 49, 61);
}

.abierto {
    height: 18.75rem;
}

.cerrado {
    background-color: transparent;
}
